body {
  margin: 0;
  background-color: burlywood;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
}

.image {
  cursor: pointer;
}

.single-photo {
  width: 100%;
}

.image {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.single {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid #555;
}

.imageWrap {
  display: inline-block;
  margin: 5px;
  width: 150px;
  height: 200px;
  line-height: 200px;
  border: 3px solid rgb(70, 69, 69);
  background-color: #555;
}

#photoBody {
  padding: 10px;
  border-radius: 5px;
}
